@import 'bourbon/bourbon';
@import 'flexbox-mixins';
@import 'global-fonts-and-colours';
@import 'variables';

$person-size: 120px;
$person-border: 5px;
.people-container {
  line-height: 0;
  margin-bottom: ($person-size / 2.0);
}
.person {
  display: inline-block;

  width: $person-size;
  height: $person-size;
  @include background-image(url(http://placekitten.com/120/120));
  background-position: center;
  border-radius: 50%;
  background-clip: padding-box;
  border: solid $person-border transparent;
  box-sizing: border-box;

  box-shadow: 0px 0px 10px 2px black;

  margin: 10px;
  //margin-right: (($person-size / 2.0) * (sqrt(3) / 2.0));

  &:nth-of-type(2n) {
    position: relative;
    top: ($person-size / 2.0);
  }
}

