@import 'bourbon/bourbon';
@import '_flexbox-mixins';

$col-page-bg: hsl(0, 0, 20%);
$col-nubots-orange: rgb(200, 117, 0);

$content-width: 600px;
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: $col-page-bg;
}

h1 {
  color: $col-nubots-orange;
}

p {
  color: lighten(desaturate($col-nubots-orange, 75%), 75%);
}

a {
  text-decoration: none;

  &:link {
    color: lighten($col-nubots-orange, 10%);
  }
  &:visited {
    color: darken($col-nubots-orange, 0%);
  }
  &:hover, &:active, &:focus {
    text-decoration: underline;
    color: lighten($col-nubots-orange, 20%);
  }
}

.page-container {
  min-height: 100%;
  width: 100%;
}

.main-container {
  width: $content-width;
  //background-color:  desaturate(darken($col-nubots-orange, 10%), 10%);
  margin: auto;
  text-align: justify;
}

$col-menu-bg: lighten($col-page-bg, 30%);
.menu {
  height: 50px;
  vertical-align: center;
  background-color: $col-menu-bg;

  font-family: impact;
  font-size: 19px;

  @include flexbox();
  span {
    @include flex(1);
    &.downloads {
      @include flex(3);
    }

    @include justify-content(space-around);

    height: 100%;
    //margin: auto;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;

    &:hover {
      background-color: lighten($col-menu-bg, 10%);
    }

    @include flexbox();

    a {
      @include flex(1);

      color: transparentize($col-page-bg, 0.2);
      text-shadow: 1px 4px 6px $col-menu-bg, 0 0 0 #000, 1px 4px 6px $col-menu-bg;

      margin: auto;
    }
  }
}

.content-container {
  border: solid $col-menu-bg;
  border-top: none;
  border-bottom: none;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: $col-menu-bg;
}

::selection {
  background: transparentize($col-nubots-orange, 0.5);
  text-shadow: none;
}

.page-title {
  position: absolute;
  top: 8%;
  width: 100%;

  font-family: impact;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 100px;

  .title {
    @include transform(scaleY(0.8));
    letter-spacing: -0.025em;
    font-size: 160px;
    line-height: 0.75em;
    margin-right: 0.05em;

    .NU {
      margin-right: -0.15em;
      letter-spacing: -0.04em;
      color: white;
    }
    .bots {
      color: $col-nubots-orange;
    }
  }
  .university {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    letter-spacing: initial;
    @include transition(text-shadow 0.2s ease-out);
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-shadow: white 0px 0px 100px;
    }
  }
}

@function striped-background($colour1: black,
$colour2: green,
$width1: 30px,
$width2: $width1,
$angle: 50deg) {
  //noinspection SassScssUnresolvedFunction
  @return repeating-linear-gradient($angle, $colour1 0px, $colour1 $width1, $colour2 $width1, $colour2 ($width1 + $width2));
}
@function -webkit-striped-background($colour1: black,
$colour2: green,
$width1: 30px,
$width2: $width1,
$angle: 50deg) {
  //noinspection SassScssUnresolvedFunction
  @return -webkit-repeating-linear-gradient($angle, $colour1 0px, $colour1 $width1, $colour2 $width1, $colour2 ($width1 + $width2));
}

.soccer-base {
  width: $content-width;
  height: 20px;
  background-color: darkgray;
  margin: auto;
}

@mixin generate-path($path-name, $path-steps) {
  @include keyframes($path-name) {
    @each $step in $path-steps {
      #{nth($step, 1)} {
        top: nth($step, 2);
        left: nth($step, 3);
        @include transform(rotateZ(nth($step, 4)));
      }
    }
  }
}

@include generate-path('path-player1', (
      (0%   25% 25% 10deg),
      (50%  50% 50% 50deg),
      (75%  75% 50% 0deg),
      (100% 75% 75% 200deg)
    ));
@include generate-path('path-player2', (
      (0%   85% 76% 90deg),
      (25%  45% 98% 130deg),
      (75%  39% 78% 0deg),
      (100% 59% 50% -80deg)
    ));
@include generate-path('path-player3', (
      (0%   65% 48% 18deg),
      (50%  98% 37% -25deg),
      (100% 34% 27% 56deg)
    ));
@include generate-path('path-player4', (
      (0%   34% 50% 97deg),
      (25%  12% 78% -29deg),
      (50%  76% 50% 18deg),
      (75%  65% 23% -25deg),
      (100% 37% 93% 48deg)
    ));
@include generate-path('path-ball', (
      (0%    60% 71% 0deg),
      (12.5% 87% 49% 0deg),
      (25%   29% 65% 0deg),
      (37.5% 83% 12% 0deg),
      (50%   66% 22% 0deg),
      (62.5% 78% 99% 0deg),
      (75%   62% 41% 0deg),
      (87.5% 25% 53% 0deg),
      (100%  12% 12% 0deg)
    ));

@mixin animation-properties($pathname, $duration) {
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
  @include animation-timing-function(linear);
  @include animation-name($pathname);
  @include animation-duration($duration);
}
.player1 {
  @include animation-properties(path-player1, 4s);
}
.player2 {
  @include animation-properties(path-player2, 5s);
}
.player3 {
  @include animation-properties(path-player3, 6s);
}
.player4 {
  @include animation-properties(path-player4, 9s);
}
.ball {
  @include animation-properties(path-ball, 20s);
}

$soccer-height: $content-width * (488.72/760.92);
.soccer-container {
  //.backdrop {
  //  position: absolute;
  //  bottom: 0;
  //  width: 100%;
  //  height: 200%;
  //  //background-color: rgba(100, 100, 100, 0.5);
  //  //@include background-image(radial-gradient(50% 50%, closest-side, rgba(255,255,255,0.3) 0%, transparent 100%));
  //  @include transform(translateZ(-$soccer-height));
  //}

  background-color: $col-page-bg;
  //noinspection CssShorthandPropertyValue
  @include background-image(
      radial-gradient(50% 50%, closest-side, transparent 0%, $col-page-bg 100%),
      striped-background(transparentize($col-nubots-orange, 0.5), transparent, 50px, 50px, 45deg));
  @include background-image(
      radial-gradient(50% 50%, closest-side, transparent 0%, $col-page-bg 100%),
      -webkit-striped-background(transparentize($col-nubots-orange, 0.5), transparent, 50px, 50px, 45deg));

  width: $content-width;
  height: 320px;
  margin: auto;
  position: relative;

  @include perspective(300px);
  @include perspective-origin(center center);


  .field {
    @include transform-style(preserve-3d);

    position: absolute;
    bottom: 0;
    width: $content-width;
    height: $soccer-height;
    @include transform(translateY(50%) rotateX(90deg) translateY(-50%));

    background-color: rgb(0, 128, 0);
    background-size: cover;
    @include background-image(linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/field.svg));

    .goal {
      @include transform-style(preserve-3d);

      position: absolute;
      top: 50%;

      &.goal1 {
        left: 6%;
      }
      &.goal2 {
        right: 6%;
      }

      .goal-inner {
        position: absolute;
        width: 85px;
        height: 75px;
        background: transparent;
        border: solid 15px #E6CD16;
        border-bottom: 0;
        @include transform(translateX(-50%) translateY(-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) scaleY(-1));
      }
    }

    $player-height: 100px;
    .player {
      position: absolute;

      @include transform-style(preserve-3d);

      &.player4 .player-inner {
        $horse-height: $player-height * 0.75;
        background-image: url(../img/horse.svg);
        width: $horse-height * (273.11731 / 270.67105);
        height: $horse-height;
      }

      .player-inner {
        position: absolute;
        @include transform(translateX(-50%) translateY(-50%) rotateX(90deg) translateY(50%) scaleY(-1));
        //background-color: rgba(0, 0,255, 0.5);
        background-image: url(../img/darwin-silhouette.svg);
        background-size: cover;
        width: $player-height * (673.38 / 1020.87);
        height: $player-height;
      }
    }

    .ball {
      position: absolute;
      @include transform-style(preserve-3d);
      .ball-inner {
        $ball-size: $player-height * 0.25;
        position: absolute;
        border-radius: 50%;
        @include transform(translateX(-50%) translateY(-50%) rotateX(90deg) translateY(50%) scaleY(-1));
        background-color: $col-nubots-orange;
        width: $ball-size;
        height: $ball-size;
      }
    }
  }
}