.menu
  %span.home
    %a{:href => "/"} Home
  %span.about
    %a{:href => "/about/"} About
  %span.downloads
    %a{:href => "/docs/"} Source / Documentation / Downloads
  %span.contact
    %a{:href => "/contact/"} Contact
