!!!

%html{:lang=>"en"}
  %head
    %meta{:charset=>"utf-8"}
    %meta{:"http-equiv"=>"a", :content=>"IE=edge"}

    %title
      Soccer

    %meta{:name=>"description", :content=>""}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}

    %link{:rel=>"stylesheet", :href=>"css/normalize.css"}
    %link{:rel=>"stylesheet", :href=>"css/main.css"}
    %link{:rel=>"stylesheet", :href=>"css/nubots-site.css"}
    %script{:src=>"js/vendor/modernizr-2.6.2.min.js"}
    %script{:src=>"js/vendor/hyphenate.js"}


  %body
    .page-container
      .header
        .page-title
          .nubots-logo
            %span.NU NU
            %span.bots bots
          %a{:class=>"university", :href=>"http://www.newcastle.edu.au/"} The University of Newcastle
        .soccer-container
          .field
            .goal.goal1
              .goal-inner
            .goal.goal2
              .goal-inner
            .ball
              .ball-inner
            - [1, 2, 3, 4].each do |entry|
              %div{:class => "player player#{entry}"}
                .player-inner
      .main-container
        = Haml::Engine.new(File.read('partials/_menu.haml')).render

        .content-container
          .people-container<
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>
            .person>

        .footer