!!!

%html{:lang=>"en"}
  %head
    %meta{:charset=>"utf-8"}
    %meta{:"http-equiv"=>"a", :content=>"IE=edge"}

    %title
      Soccer

    %meta{:name=>"description", :content=>""}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}

    %link{:rel=>"stylesheet", :href=>"css/normalize.css"}
    %link{:rel=>"stylesheet", :href=>"css/main.css"}
    %link{:rel=>"stylesheet", :href=>"css/soccer-field.css"}
    %script{:src=>"js/vendor/modernizr-2.6.2.min.js"}
    %script{:src=>"js/vendor/hyphenate.js"}

  %body
    .page-container
      .soccer-container
        .page-title
          .title
            %span.NU NU
            %span.bots bots
          %a{:class=>"university", :href=>"http://www.newcastle.edu.au/"} The University of Newcastle
        .backdrop
        .field
          .goal.goal1
            .goal-inner
          .goal.goal2
            .goal-inner

          .ball
            .ball-inner
          - [1, 2, 3, 4].each do |entry|
            %div{:class => "player player#{entry}"}
              .player-inner
      -#.soccer-base
      .main-container
        = Haml::Engine.new(File.read('partials/_menu.haml')).render

        .content-container.hyphenate
          :markdown
            # Home

            Welcome to the NUbots codebase project page.

            Presently, the NUbots codebase runs on Ubuntu 12.04, on the [DARwIn-OP](http://www.robotis.com/xe/darwin_en)
            humanoid robot, and is used to play robotic football (soccer) in the annual
            [Robocup](http://www.robocup.org/) competition, in the [Kid Size Humanoid League](http://www.tzi.de/humanoid)

            The NUbots codebase is developed by the NUbots team at the University of Newcastle, Australia.
            The code is released as open source software, under the [GNU GPL v2](http://www.gnu.org/licenses/gpl-2.0.html).
            All documentation relating to the code is also publicly released.

            You can [learn more about the codebase here](about.php), or
            [view the source code and documentation here](docs.php).
            We'd also love to hear from you - you can [get in touch and stay up to date with us here](contact.php).

        .footer